<a href="https://colab.research.google.com/github/tassiogomes/MINDD-ISEP/blob/main/MINDD_TP01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MINDD - PL01

A panda series is a one-dimensional array. Saves any type of data supported in Python and uses labels to index
the values. The labels form the index an can be strings or integers.
The series are the panda's main data structure for storing one-dimensional data.

1. A market study was conducted to determine the typical cost of a product in several Portuguese cities. The results were as follows:

In [1]:
import pandas as pd

data = {
    'Cidade': ['Bragança', 'Braga', 'Porto', 'Aveiro', 'Coimbra', 'Leiria', 'Lisboa', 'Beja', 'Évora', 'Faro'],
    'Temperatura (°C)': [10.3, 10.6, 11.5, 12.3, 9.9, 9.3, 12.1, 10.9, 11.4, 9.1]
}

print(data)

{'Cidade': ['Bragança', 'Braga', 'Porto', 'Aveiro', 'Coimbra', 'Leiria', 'Lisboa', 'Beja', 'Évora', 'Faro'], 'Temperatura (°C)': [10.3, 10.6, 11.5, 12.3, 9.9, 9.3, 12.1, 10.9, 11.4, 9.1]}

In [2]:
import pandas as pd

data = {
    'Cidade': ['Bragança', 'Braga', 'Porto', 'Aveiro', 'Coimbra', 'Leiria', 'Lisboa', 'Beja', 'Évora', 'Faro'],
    'Preço': [10.3, 10.6, 11.5, 12.3, 9.9, 9.3, 12.1, 10.9, 11.4, 9.1]
}

prcSerie = pd.Series(data['Preço'], index=data['Cidade'], name='Preço')

print(prcSerie)

Bragança    10.3
Braga       10.6
Porto       11.5
Aveiro      12.3
Coimbra      9.9
Leiria       9.3
Lisboa      12.1
Beja        10.9
Évora       11.4
Faro         9.1
Name: Preço, dtype: float64

### TP01_B

In [7]:
import pandas as pd

data = {
    'Cidade': ['Bragança', 'Braga', 'Porto', 'Aveiro', 'Coimbra', 'Leiria', 'Lisboa', 'Beja', 'Évora', 'Faro'],
    'Preço': [10.3, 10.6, 11.5, 12.3, 9.9, 9.3, 12.1, 10.9, 11.4, 9.1]
}

prcSerie = pd.Series(data['Preço'], index=data['Cidade'], name='Preço')

# Ordenar a série em ordem decrescente com base nos valores
prcSerie_sorted = prcSerie.sort_values(ascending=False)

# Para reverter a ordem dos índices para corresponder aos valores ordenados
#prcSerie_sorted = prcSerie_sorted.sort_index(ascending=False)

print("Série em ordem decrescente:")
print(prcSerie_sorted)

Série em ordem decrescente:
Aveiro      12.3
Lisboa      12.1
Porto       11.5
Évora       11.4
Beja        10.9
Braga       10.6
Bragança    10.3
Coimbra      9.9
Leiria       9.3
Faro         9.1
Name: Preço, dtype: float64

## TP01_C
c) View prices for the first three cities: Bragança, Braga, and Porto.

In [11]:
first_three_cities = prcSerie[['Bragança', 'Braga', 'Porto']]
first_three_cities_loc = prcSerie.loc[['Bragança', 'Braga', 'Porto']]
print(first_three_cities)
print("-------com loc------")
print(first_three_cities_loc)

Bragança    10.3
Braga       10.6
Porto       11.5
Name: Preço, dtype: float64
-------com loc------
Bragança    10.3
Braga       10.6
Porto       11.5
Name: Preço, dtype: float64

## TP01_D
d) View prices for the last three cities: Beja, Évora, and Faro.

In [14]:
last_three_cities = prcSerie[["Beja", "Évora", "Faro"]]
last_three_cities_iloc = prcSerie.iloc[-3:]
print(last_three_cities)
print("----------- iloc------------")
print(last_three_cities_iloc)

Beja     10.9
Évora    11.4
Faro      9.1
Name: Preço, dtype: float64
----------- iloc------------
Beja     10.9
Évora    11.4
Faro      9.1
Name: Preço, dtype: float64

## TP01_E
e) View prices in the cities: Aveiro, Coimbra, Leiria, and Lisbon.

In [19]:
cities_columns = prcSerie[["Aveiro","Coimbra", "Leiria","Lisboa"]]
cities_loc = prcSerie.loc[["Aveiro","Coimbra", "Leiria","Lisboa"]]
cities_iloc = prcSerie.iloc[3:7]
print(cities_columns)
print("----------- loc------------")
print(cities_loc)
print("----------- iloc------------")
print(cities_iloc)

Aveiro     12.3
Coimbra     9.9
Leiria      9.3
Lisboa     12.1
Name: Preço, dtype: float64
----------- loc------------
Aveiro     12.3
Coimbra     9.9
Leiria      9.3
Lisboa     12.1
Name: Preço, dtype: float64
----------- iloc------------
Aveiro     12.3
Coimbra     9.9
Leiria      9.3
Lisboa     12.1
Name: Preço, dtype: float64

## TP01_F
f) Which cities have lower than average prices?

In [5]:
# Calculate the average price
average_price = prcSerie.mean()

# Find cities with prices lower than the average
lower_than_average = prcSerie[prcSerie < average_price]

print("Cities with prices lower than the average:")
print(lower_than_average)

Cities with prices lower than the average:
Bragança    10.3
Braga       10.6
Coimbra      9.9
Leiria       9.3
Faro         9.1
Name: Preço, dtype: float64