<a href="https://colab.research.google.com/github/tassiogomes/MINDD-ISEP/blob/main/MINDD_PL02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Start to load the dataset week_purchases18-25.txt into R session and next:

In [20]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import folium

from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv('drive/My Drive/MINDD/week_purchases18-25.txt', sep='\t')
df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

,Username,TitleCli,Name,Address,Country,Gender,Age,Favourites,Order_ID,Product_ID,Style,Film_Title,Price,PurchTime,PurchDate,Buy_for
0,user_1000884,MRS,DORIS126855,89594388-Boris Road-Doris Town,USA,F,27.0,Adventure,Order_ID_25002281,1048,Comedy,This was Tinny Sap,9.99,23:50:02,25/02/2001,Myself
1,user_1009862,MRS,DORIS42531,75844730-Boris Road-Doris Town,UK,F,36.0,Children,Order_ID_11048478,1060,Children,The Buppets,5.99,23:40:18,22/02/2001,Family
2,user_1025298,MISS,DORIS136770,39704306-Boris Road-Doris Town,UK,F,38.0,Children,Order_ID_62493972,1062,Children,Bogus the Clown,5.99,08:37:27,21/02/2001,Family
3,user_1039001,MR,BORIS111529,46627181-Boris Road-Doris Town,NaN,NaN,NaN,NaN,Order_ID_40324890,1048,Comedy,This was Tinny Sap,9.99,20:17:16,25/02/2001,NaN
4,user_1040891,MRS,DORIS142154,82645107-Boris Road-Doris Town,USA,F,25.0,Adventure,Order_ID_79222013,1013,Comedy,Dr OddBloke or: What bomb? Where?,15.99,21:12:49,22/02/2001,Myself

In [15]:
# a. check its size
print(df.shape)
print("Linhas", df.shape[0])
print("Colunas", df.shape[1])
print(df.columns.to_list())

(739, 16)
Linhas 739
Colunas 16
['Username', 'TitleCli', 'Name', 'Address', 'Country', 'Gender', 'Age', 'Favourites', 'Order_ID', 'Product_ID', 'Style', 'Film_Title', 'Price', 'PurchTime', 'PurchDate', 'Buy_for']

In [16]:
# b. get a summary of data
print(df.describe())

              Age   Product_ID       Price
count  444.000000   739.000000  739.000000
mean    43.182432  1039.170501    8.742368
std     14.657891    17.813339    2.879627
min     21.000000  1001.000000    5.990000
25%     32.000000  1024.000000    5.990000
50%     37.000000  1042.000000    7.990000
75%     58.000000  1056.000000    9.990000
max     75.000000  1062.000000   15.990000

In [24]:
# c. check which columns are numeric and which are categorical
df.dtypes
# convert age float64 to integer
df['Age'] = df['Age'].fillna(0).astype(int) # fillna(0) put 0 in missing values
# purchase time objetc to time
#df['PurchTime'] = pd.to_datetime(df['PurchTime'])
# Converting date objetc to datetime
df['PurchDate'] = pd.to_datetime(df['PurchDate'])
df.dtypes

Username              object
TitleCli              object
Name                  object
Address               object
Country               object
Gender                object
Age                    int64
Favourites            object
Order_ID              object
Product_ID             int64
Style                 object
Film_Title            object
Price                float64
PurchTime             object
PurchDate     datetime64[ns]
Buy_for               object
dtype: object

In [27]:
# d. check for missing data by rows and by columns
df.isnull().sum(axis = 0)

Username        0
TitleCli        0
Name            0
Address         0
Country       295
Gender        295
Age             0
Favourites    295
Order_ID        0
Product_ID      0
Style           0
Film_Title      0
Price           0
PurchTime       0
PurchDate       0
Buy_for       295
dtype: int64