<a href="https://colab.research.google.com/github/tassiogomes/MINDD-ISEP/blob/main/MINDD_PL01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df =  pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")

print(df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [23]:
print(df.describe())
print(df.shape)
# Get the number of rows and columns
num_rows, num_columns = df.shape # elements of array, first and second
print(f"Number of rows: {num_rows}")
print(df.columns) #retrieve index
print(df.columns.to_list()) #to_list make it better

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07
(458, 9)
Number of rows: 458
Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')
['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight', 'College', 'Salary']

In [25]:
print(df.columns.to_list()) #variables names

['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight', 'College', 'Salary']

In [26]:
df.size #number of elements

4122

In [27]:
df.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [34]:
df.head(5)
#df.tail(5)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [36]:
college_columns = df["College"]
print(college_columns)

0                  Texas
1              Marquette
2      Boston University
3          Georgia State
4                    NaN
             ...
453               Butler
454                  NaN
455                  NaN
456               Kansas
457                  NaN
Name: College, Length: 458, dtype: object

In [40]:
selected_data = df.loc[15:20, ["Name", "Position", "College"]]
selected_data = df[["Name", "Position", "College"]][15:20 ]

print(selected_data)

                       Name Position         College
15         Bojan Bogdanovic       SG             NaN
16             Markel Brown       SG  Oklahoma State
17          Wayne Ellington       SG  North Carolina
18  Rondae Hollis-Jefferson       SG         Arizona
19             Jarrett Jack       PG    Georgia Tech

In [42]:
#player_pf = df["Position"] == "PF" #retrieve column position with true or false
player_pf = df[df['Position'] == 'PF'] #retrieve df with PF condition
print(player_pf)

                 Name                    Team  Number Position   Age Height  \
4       Jonas Jerebko          Boston Celtics     8.0       PF  29.0   6-10
5        Amir Johnson          Boston Celtics    90.0       PF  29.0    6-9
6       Jordan Mickey          Boston Celtics    55.0       PF  21.0    6-8
24   Chris McCullough           Brooklyn Nets     1.0       PF  21.0   6-11
25        Willie Reed           Brooklyn Nets    33.0       PF  26.0   6-10
..                ...                     ...     ...      ...   ...    ...
435    Meyers Leonard  Portland Trail Blazers    11.0       PF  24.0    7-1
441       Noah Vonleh  Portland Trail Blazers    21.0       PF  20.0    6-9
442     Trevor Booker               Utah Jazz    33.0       PF  28.0    6-8
446    Derrick Favors               Utah Jazz    15.0       PF  24.0   6-10
452        Trey Lyles               Utah Jazz    41.0       PF  20.0   6-10

     Weight       College      Salary
4     231.0           NaN   5000000.0
5     240.0           NaN  12000000.0
6     235.0           LSU   1170960.0
24    200.0      Syracuse   1140240.0
25    220.0   Saint Louis    947276.0
..      ...           ...         ...
435   245.0      Illinois   3075880.0
441   240.0       Indiana   2637720.0
442   228.0       Clemson   4775000.0
446   265.0  Georgia Tech  12000000.0
452   234.0      Kentucky   2239800.0

[100 rows x 9 columns]