<a href="https://colab.research.google.com/github/tassiogomes/MINDD-ISEP/blob/main/MINDD_PL01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

df =  pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv")

print(df)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [23]:
print(df.describe())
print(df.shape)
# Get the number of rows and columns
num_rows, num_columns = df.shape # elements of array, first and second
print(f"Number of rows: {num_rows}")
print(df.columns) #retrieve index
print(df.columns.to_list()) #to_list make it better

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07
(458, 9)
Number of rows: 458
Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')
['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight', 'College', 'Salary']

In [25]:
print(df.columns.to_list()) #variables names

['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight', 'College', 'Salary']

In [26]:
df.size #number of elements

4122

In [27]:
df.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [34]:
df.head(5)
#df.tail(5)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [36]:
college_columns = df["College"]
print(college_columns)

0                  Texas
1              Marquette
2      Boston University
3          Georgia State
4                    NaN
             ...
453               Butler
454                  NaN
455                  NaN
456               Kansas
457                  NaN
Name: College, Length: 458, dtype: object

In [40]:
selected_data = df.loc[15:20, ["Name", "Position", "College"]]
selected_data = df[["Name", "Position", "College"]][15:20 ]

print(selected_data)

                       Name Position         College
15         Bojan Bogdanovic       SG             NaN
16             Markel Brown       SG  Oklahoma State
17          Wayne Ellington       SG  North Carolina
18  Rondae Hollis-Jefferson       SG         Arizona
19             Jarrett Jack       PG    Georgia Tech

In [42]:
#player_pf = df["Position"] == "PF" #retrieve column position with true or false
player_pf = df[df['Position'] == 'PF'] #retrieve df with PF condition
print(player_pf)

                 Name                    Team  Number Position   Age Height  \
4       Jonas Jerebko          Boston Celtics     8.0       PF  29.0   6-10
5        Amir Johnson          Boston Celtics    90.0       PF  29.0    6-9
6       Jordan Mickey          Boston Celtics    55.0       PF  21.0    6-8
24   Chris McCullough           Brooklyn Nets     1.0       PF  21.0   6-11
25        Willie Reed           Brooklyn Nets    33.0       PF  26.0   6-10
..                ...                     ...     ...      ...   ...    ...
435    Meyers Leonard  Portland Trail Blazers    11.0       PF  24.0    7-1
441       Noah Vonleh  Portland Trail Blazers    21.0       PF  20.0    6-9
442     Trevor Booker               Utah Jazz    33.0       PF  28.0    6-8
446    Derrick Favors               Utah Jazz    15.0       PF  24.0   6-10
452        Trey Lyles               Utah Jazz    41.0       PF  20.0   6-10

     Weight       College      Salary
4     231.0           NaN   5000000.0
5     240.0           NaN  12000000.0
6     235.0           LSU   1170960.0
24    200.0      Syracuse   1140240.0
25    220.0   Saint Louis    947276.0
..      ...           ...         ...
435   245.0      Illinois   3075880.0
441   240.0       Indiana   2637720.0
442   228.0       Clemson   4775000.0
446   265.0  Georgia Tech  12000000.0
452   234.0      Kentucky   2239800.0

[100 rows x 9 columns]

In [43]:
team_counts = df['Team'].value_counts()
print(team_counts)

New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Boston Celtics            15
Brooklyn Nets             15
Portland Trail Blazers    15
Oklahoma City Thunder     15
Denver Nuggets            15
Washington Wizards        15
Miami Heat                15
Charlotte Hornets         15
Atlanta Hawks             15
San Antonio Spurs         15
Houston Rockets           15
Dallas Mavericks          15
Indiana Pacers            15
Detroit Pistons           15
Cleveland Cavaliers       15
Chicago Bulls             15
Sacramento Kings          15
Phoenix Suns              15
Los Angeles Lakers        15
Los Angeles Clippers      15
Golden State Warriors     15
Toronto Raptors           15
Philadelphia 76ers        15
Utah Jazz                 15
Orlando Magic             14
Minnesota Timberwolves    14
Name: Team, dtype: int64

In [ ]:
players = df[df["Team"] == "Los Angeles Lakers"]
players = players.drop(columns=['Team'])
print(players)

In [ ]:
df.sort_values(by = ['College', 'Age'], ascending =[False, False])

In [ ]:
df.sort_values(by=["Salary"], ascending=[False])

In [ ]:
df.hist(column="Salary", bins=35, grid=False, figsize=(12,8), color='#86bf91', zorder=2, rwidth=0.9)

In [ ]:
df.boxplot(column=("Salary"))

In [ ]:
df[['Salary', 'Age']].boxplot(vert=True)

In [ ]:
average_salary_by_age = df.groupby('Age')['Salary'].mean().round(2).reset_index() #reset_index puts new index to df

# Rename the columns for clarity
average_salary_by_age.columns = ['Age', 'Average Salary']

print(average_salary_by_age)

In [ ]:
#players = df[['Age'] < df['Age'].mean() & (df['Salary'] > df['Salary'].mean())]
players = df[(df['Age'] < df['Age'].mean()) & (df['Salary'] > df['Salary'].mean())]
players = players[['Name', 'Age', 'Salary']] #showing just 3 columns
print(players)

In [96]:
df.groupby('Team')[['Salary']].describe()

                       Salary                                         \
                        count          mean           std        min
Team
Atlanta Hawks            15.0  4.860197e+06  5.194508e+06   525093.0
Boston Celtics           14.0  4.181505e+06  3.146033e+06  1148640.0
Brooklyn Nets            15.0  3.501898e+06  5.317817e+06   134215.0
Charlotte Hornets        15.0  5.222728e+06  4.538601e+06   189455.0
Chicago Bulls            15.0  5.785559e+06  6.251088e+06   525093.0
Cleveland Cavaliers      14.0  7.642049e+06  7.730329e+06   111196.0
Dallas Mavericks         15.0  4.746582e+06  5.030279e+06   525093.0
Denver Nuggets           14.0  4.294424e+06  4.320214e+06   258489.0
Detroit Pistons          15.0  4.477884e+06  4.668478e+06   111444.0
Golden State Warriors    15.0  5.924600e+06  5.664282e+06   289755.0
Houston Rockets          15.0  5.018868e+06  6.414749e+06   200600.0
Indiana Pacers           15.0  4.450122e+06  4.584514e+06   211744.0
Los Angeles Clippers     15.0  6.323643e+06  7.600225e+06   111444.0
Los Angeles Lakers       15.0  4.784695e+06  6.835688e+06   525093.0
Memphis Grizzlies        14.0  5.467920e+06  5.201676e+06   700902.0
Miami Heat               13.0  6.347359e+06  7.848628e+06   261894.0
Milwaukee Bucks          16.0  4.350220e+06  4.875071e+06   295327.0
Minnesota Timberwolves   13.0  4.593054e+06  4.139625e+06   947276.0
New Orleans Pelicans     19.0  4.355304e+06  4.537874e+06    55722.0
New York Knicks          16.0  4.581494e+06  5.952487e+06    30888.0
Oklahoma City Thunder    15.0  6.251020e+06  6.632400e+06   222888.0
Orlando Magic            14.0  4.297248e+06  3.068412e+06   845059.0
Philadelphia 76ers       14.0  2.213778e+06  1.900402e+06   525093.0
Phoenix Suns             15.0  4.229676e+06  5.022561e+06    55722.0
Portland Trail Blazers   15.0  3.220121e+06  2.392741e+06   525093.0
Sacramento Kings         15.0  4.778911e+06  4.701792e+06   525093.0
San Antonio Spurs        15.0  5.629516e+06  6.396804e+06   200600.0
Toronto Raptors          15.0  4.741174e+06  4.195943e+06   245177.0
Utah Jazz                15.0  4.204006e+06  4.467878e+06   900000.0
Washington Wizards       15.0  5.088576e+06  4.869388e+06   200600.0


                               25%        50%          75%         max
Team
Atlanta Hawks           1152260.00  2854940.0   6873239.50  18671659.0
Boston Celtics          1909560.00  3021242.5   6347087.75  12000000.0
Brooklyn Nets            947276.00  1335480.0   2512675.00  19689000.0
Charlotte Hornets       1543138.00  4204200.0   6665702.00  13500000.0
Chicago Bulls           1203290.50  2380440.0   7974380.00  20093064.0
Cleveland Cavaliers     1179457.00  4975000.0  12942843.75  22970500.0
Dallas Mavericks        1185783.00  3950313.0   5289487.00  16407500.0
Denver Nuggets          1615789.75  2907000.0   4142083.25  14000000.0
Detroit Pistons         1711452.50  2891760.0   5635000.00  16000000.0
Golden State Warriors   1201462.00  3815000.0  11540621.00  15501000.0
Houston Rockets          973638.00  2288205.0   7339758.00  22359364.0
Indiana Pacers          1053513.00  4000000.0   5697112.50  17120106.0
Los Angeles Clippers    1024164.00  3110796.0   8367500.00  21468695.0
Los Angeles Lakers       896167.50  1724250.0   5161144.50  25000000.0
Memphis Grizzlies       1274280.00  4544009.5   8116000.00  19688000.0
Miami Heat               947276.00  2481720.0  10151612.00  22192730.0
Milwaukee Bucks         1483589.00  2254167.0   5514330.00  16407500.0
Minnesota Timberwolves  1474440.00  2148360.0   5758680.00  12700000.0
New Orleans Pelicans     981348.50  2850000.0   7785365.00  15514031.0
New York Knicks          921721.75  2225421.0   4949493.00  22875000.0
Oklahoma City Thunder   1742280.00  3344000.0   8694215.00  20158622.0
Orlando Magic           2311302.00  3956580.0   5144390.00  11250000.0
Philadelphia 76ers       947276.00  1037084.5   3310710.00   6500000.0
Phoenix Suns             964312.00  2041080.0   5500000.00  13500000.0
Portland Trail Blazers  1181398.00  2854940.0   4626143.50   8042895.0
Sacramento Kings         998384.50  3156600.0   6880303.00  15851950.0
San Antonio Spurs       1045078.00  2814000.0   8750000.00  19689000.0
Toronto Raptors         1683000.00  2900000.0   6634337.50  13600000.0
Utah Jazz               1262160.00  2433333.0   4276360.00  15409570.0
Washington Wizards      1510421.00  4000000.0   6847337.00  15851950.0